h1 {
	text-align: center;
}

div {
	width: 200px;
}

#test1 {
	border: 5px solid blue;
	margin-top: 100px;
	margin-right: 200px;
}

#test2 {
	border: 5px solid green;
	margin-top: 120px;
	margin-left: 150px;
	padding: 10px;
}

#test3 {
	border: 5px solid black;
	margin:auto;
}
